*{
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 237, 234);
    font-family: Arial, Helvetica, sans-serif;
}


.container{

    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    box-shadow: 0 0  10px rgb(0, 0, 0, .2);
    border-radius: 10px;
}

h1{
    margin: 0;
    text-align: center;
}
input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

button{
     background-color: #4caf50;
     color: white;
     padding: 10px;
     width: 100%;
     border: none;
     cursor: pointer;
     margin: 10px 0;
     font-size: 20px;
     text-transform: uppercase;
     transition: background-color .2s  ease;
}

button:hover{
    background-color: #45a049;
}

#total{
    font-size:24px;
    font-weight: bold;
    margin-top: 10px;
    

}

